html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.list {
  padding-left: 0;
  margin: 0;

  list-style: none;
}

.btn.load-more-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.conteiner {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin: 24px;
}

.input {
  width: 300px;
  height: 40px;
  padding: 10px;
}

.is-hidden {
  display: none;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.images {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.photo-card {
  display: flex;
  flex-flow: column;
  height: 450px;
}

.item {
  flex-basis: calc((100% - 30px * 4) / 4);
  padding-bottom: 30px;
  margin-right: 30px;
  margin-bottom: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.img-thumb {
  height: 380px;
  display: block;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.stats {
  display: flex;
  justify-content: center;

  padding-left: 15px;
  padding-right: 15px;
}

.stats-item {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
}
.stats-item:not(:last-child) {
  margin-right: 40px;
}

.spinner-border.is-hidden {
  display: none;
}

.load-more-btn.is-hidden {
  display: none;
}

.search-btn {
  margin-left: 15px;
}
